# System files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local

# Dependency directories
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln 